* {
	--uno: m-0 p-0 box-border outline-none;
}

:is(p, a, span, li, em, h1, h2, h3, h4)::selection {
	--uno: bg-primary text-dark;
}

::-webkit-scrollbar {
	display: none;
}

html {
	--uno: bg-dark scroll-smooth;
}
body {	
	--uno: text-cream font-fira antialiased;
}

a, p, span{
	--uno: text-base text-cream decoration-none;
}

em {
	font-style: normal;
}

ul, li {
	list-style: none;
}

/* ### Navbar ### */
header nav a.router-link-exact-active{
	--uno: text-primary;
}	

/* ### Article ### */
article h2 {
	--uno: text-subtitle pb-2 w-fit;
	--uno: border-b-1 border-b-primary border-b-solid;
}

article ul {
	--uno: flex flex-col gap-[1rem]
}

article ul li {
	--uno: flex items-center gap-[1rem]
	--uno: relative before:content-[''] before:bg-primary before-w-[0.8rem] before-h-[0.8rem] before:rounded-[0.8rem];
}

blockquote { 
	--uno: pl-[1rem] border-l-4 border-l-primary border-l-solid;
}

/* ### Page Transitions ### */
/* .page-enter-active,
.page-leave-active {
	transition: all .25s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.page-enter-from,
.page-leave {
	opacity: 0;
} */

@keyframes slide-enter {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-enter {
  animation: slide-enter 1s ease both;
}

.slide-enter:nth-child(1) {
  animation-delay: 0.15s;
}

.slide-enter:nth-child(2) {
  animation-delay: 0.3s;
}

.slide-enter:nth-child(3) {
  animation-delay: 0.45s; 
}

.slide-enter:nth-child(4) {
  animation-delay: 0.6s; 
}

.slide-enter:nth-child(5) {
  animation-delay: 0.75s; 
}

.slide-enter:nth-child(6) {
  animation-delay: 1s; 
}
.slide-enter:nth-child(7) {
  animation-delay: 1s; 
}
.slide-enter:nth-child(8) {
  animation-delay: 1s; 
}
.slide-enter:nth-child(9) {
  animation-delay: 1s; 
}


@keyframes height-grow {
  0% {
    height: 0;
  }
  to {
    height: 100%;
  }
}

@keyframes width-grow {
  0% {
    width: 0;
  }
  to {
    width: 100%;
  }
}