* {
	--uno: m-0 p-0 box-border outline-none;
}

*::selection{
	--uno: bg-primary text-dark;
}

html {
	--uno: bg-dark scroll-smooth;
}
body {	
	--uno: text-cream  font-fira antialiased;
}

article h2 {
	--uno: text-subtitle underline decoration-1 underline-primary underline-offset-16 mb-1rem;
}

a, p, span{
	--uno: text-base text-cream decoration-none;
}

em {
	font-style: normal;
}

ul, li {
	list-style: none;
}

header nav a.router-link-exact-active{
	--uno: text-primary;
}